/* Reset CSS */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header Styles */
.Kepala {
  position: fixed;
  top: -100px; /* Awalnya tersembunyi */
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  z-index: 1000;
  transition: top 0.5s ease, opacity 0.5s ease;
  opacity: 1;
  margin: 0;
  justify-content: space-between;
  text-align: center;
}

.Kepala img {
  cursor: pointer;
  margin-left: 20px;
}

.Kepala.show {
  top: 0;
  opacity: 1;
}

.Kepala nav {
  display: flex;
  gap: 15px;
  margin-right: 20px;
}

/* Navigation Links */
.Kepala nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 5px 5px;
  transition: background-color 0.3s, color 0.3s;
}

.Kepala nav a:hover {
  color: rgb(3, 112, 175);
  border-radius: 5px;
}

/* Card Styles */
.card-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.card {
  background: linear-gradient(rgba(41, 171, 226, 0.9), rgba(93, 63, 157, 0.9));
  width: 100px; /* Lebar awal */
  height: 100px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  position: relative; /* Agar hover berfungsi dengan baik */
  z-index: 2; /* Pastikan card muncul di atas overlay */
}

.card:hover {
  transform: translateY(-15px);
}

.card-container:hover .card:not(:hover) {
  opacity: 0.8;
}

#section-1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vh;
  height: auto;
  margin-bottom: 10px;
  margin-top: 150px;
}

/* Section Styles */
.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: white;
  background-color: rgb(250, 250, 250);
  color: black;
}

#section-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#section-2 img:active {
  transform: scale(0.95);
}

.des-section-2 {
  flex: 1;
  max-width: 52%;
  padding: 40px;
  margin-left: -15px;
}

#section-2 img {
  margin-top: 100px;
  height: 400px;
  width: auto;
  flex-basis: 40%;
  max-width: 40%;
}
.section h1:not(.des-section-2 h1) {
  color: rgb(0, 52, 104);
  font-size: 2.5rem;
  margin-left: 40px;
  margin-bottom: 10px;
}
.des-section-2 h1 {
  font-size: 2.5rem;
  color: rgb(0, 52, 104);
  margin-bottom: 20px;
  margin-top: 50px;
}
.des-section-2 h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 10px;
}
.des-section-2 p {
  font-size: 1.3rem;
  line-height: 1.3;
  margin-top: 10px;
}

#section-1 {
  position: relative;
  background-image: url(img/Backgroud\ home.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.8);
}

#section-4 {
  height: 230vh;
}

.animated-text {
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 1;
  transform: translateY(0);
}

/* Ketika teks sedang diubah (dipersiapkan untuk transisi) */
.changing {
  opacity: 0;
  transform: translateY(-20px);
}

.kumpulan-layanan {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.kartu {
  width: 245px;
  height: 265px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: default;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.kartu-image {
  width: 100%;
  height: 265px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.kartu-content {
  width: 100%;
  height: 100%;
  background: rgba(0, 70, 140, 0.8);
  color: #fff;
  display: flex;
  text-align: center;
  position: absolute;
  bottom: -80%;
  left: 0;
  transition: bottom 0.3s ease;
  z-index: 2;
}

.kartu-content h3 {
  font-size: 15px;
  margin-top: 18px;
  margin-left: 4px;
  margin-right: 4px;
}

/* Efek hover */
.kartu:hover .kartu-content {
  bottom: 0;
}

.kartu:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
}

#section-3 a {
  font-size: 25px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.slider {
  width: 920px;
  max-width: 100vw;
  height: 550px;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  border-bottom: 90px solid;
  border-top: 20px solid;
  border-left: 20px solid;
  border-right: 20px solid;
  border-color: #f0f0f0;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}
.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list img {
  width: 920px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.slider .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
}
.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); /* This will center it horizontally */
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active {
  width: 30px;
}

.buttons button:hover {
  background: #4949499f;
}

.slider iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  margin-top: 0px;
  background: rgb(112, 128, 144);
  padding-top: 10px;
}
.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.footer-content {
  width: 33.3%;
}
.footer-content p {
  width: 300px;
  margin-left: 60px;
  padding: 0px;
}
.footer-content ul {
  text-align: center;
  padding: 0px;
}
.list {
  padding: 0;
  margin: 0;
}
.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 2px;
  position: relative;
  margin: 0;
}
.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: rgb(3, 112, 175);
  transition-duration: 0.5s;
}
.list li:hover::before {
  width: 70px;
}
.social-icons {
  text-align: center;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  text-align: center;
  padding: 5px;
  margin: 0;
}
.social-icons i {
  color: white;
  font-size: 35px;
}
.Move-Footer {
  text-decoration: none;
  font-size: 18px;
  color: white;
  margin-top: 0;
  padding: 0;
}
.Move-Footer:hover {
  color: rgb(3, 112, 175);
}
.social-icons i:hover {
  color: rgb(3, 112, 175);
}
.bottom-bar {
  background: rgb(3, 112, 175);
  text-align: center;
  padding: 5px 0;
  margin-top: 10px;
}

#section-5 {
  height: auto;
}

.footer-content p {
  font-size: 18px;
  color: white;
}

.footer-content h3 {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

@media screen and (max-width: 476px) {
  .des-section-2 h1 {
    font-size: 1.5rem;
    margin-bottom: 0px;
  }
  .des-section-2 h2 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .des-section-2 p {
    font-size: 0.7rem;
    line-height: 1;
  }
  #section-2 img {
    height: 100px;
    width: auto;
    flex-basis: 40%;
    max-width: 40%;
  }
  .des-section-2 {
    flex: 1;
    max-width: 43%;
    padding: 40px;
    margin-left: -25px;
    margin-bottom: 20px;
  }
  .section {
    height: 450px;
    margin: 0;
  }
  #section-3 a {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 15px;
    text-align: justify;
    margin-right: 15px;
  }
  .section h1:not(.des-section-2 h1) {
    font-size: 1.5rem;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .kumpulan-layanan {
    gap: 8px;
    margin-top: 20px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .kartu {
    height: 170px;
  }
  .kartu-image {
    height: 170px;
  }
  .kartu-content h3 {
    font-size: 7px;
    margin-top: 7px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .kartu-content h3 b {
    font-size: 9px;
    text-align: center;
  }
  .slider {
    width: 320px;
    max-width: 100vw;
    height: 400px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    border-bottom: 60px solid;
    border-top: 20px solid;
    border-left: 20px solid;
    border-right: 20px solid;
    border-color: #f0f0f0;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin-bottom: 20px;
  }
  .slider .list img {
    width: 320px;
    max-width: 100vw;
  }
  #section-4 {
    height: auto;
    margin-bottom: 10px;
  }
  .social-icons i {
    color: white;
    font-size: 25px;
  }
  .Move-Footer {
    text-decoration: none;
    font-size: 10px;
    color: white;
    margin-top: 0;
    padding: 0;
  }
  .footer-content h3 {
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    text-align: center;
  }
  .footer-content p {
    font-size: 10px;
    color: white;
    margin-left: 10px;
    width: 120px;
    padding: 0px;
    margin-bottom: 10px;
    line-height: 1.8;
  }
  .card-container {
    gap: 3px;
  }
  .Kepala img {
    margin-left: 5px;
    width: 100px;
    height: auto;
  }
  .Kepala nav {
    display: flex;
    gap: 1px;
    margin-right: 5px;
    font-size: 9px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
  }
  #section-1 img {
    width: 45vh;
  }
  .bold-kartu {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 0;
    text-align: center; 
    display: flex;
  }
  .kartu {
    border-radius: 12px;
    border-top-left-radius: 0px;
  }
}
